/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.DS_Store
.idea/kloo-infrastructure.iml
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
/.vscode
packages/.DS_Store
kloo-backend.code-workspace
.idea/php.xml
*.drawio